html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.nav {
  width: 60%;
}

.logo {
  width: 20%;
  justify-content: flex-start;
}

header {
  background: #FFFFFF;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  padding: 0 20px;
  height: 80px;
  position: absolute;
  top: 0;
  width: 100vw;
  font-size: 14px;
}

.contact {
  background: linear-gradient(225deg, #A68AC8 0%, #57007B 100%);
  padding: 5px 10px;
  border-radius: 5px;
  color: white !important;
}

.contact a {
  color: white !important;
}

a {
  text-decoration: none !important;
}

ul a {
  color: black !important;
}

::-webkit-scrollbar {
  width: 10px;
  background: linear-gradient(225deg, #A68AC8 0%, #57007B 100%);
}

::-webkit-scrollbar-thumb {
  background-color: #FFFFFF;
  border-radius: 5px;
}

.hero {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-self: center;
}

.surf {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-self: center;
}

.about,
.recent {
  height: 100vh;
  width: 100vw;
}

.hero-div {
  width: 40%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.surf-div {
  width: 40%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.hero-button {
  display: flex;
  width: 50% !important;
  background: #7F59B0;
  color: white;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.services {
  background: #DFD3EB;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*swiper */

.services .mySwiper {
  width: 80%;
  height: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services swiper-slide {
  font-size: 18px;
  background: #DFD3EB;
  display: flex !important;
  justify-content: space-evenly;
  align-items: center;
  width: 100% !important;
  height: 100% !important;
}

.services swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card {
  margin: 0 10px !important;
  width: 30% !important;
  height: 75% !important;
  padding: 10px;
  display: flex !important;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.card-img-top {
  height: 50px !important;
  width: 50px !important;
}

.card-body {
  height: 80%;
}

/* Recent */
.recent-checked .mySwiper {
  width: 80%;
  height: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recent-checked swiper-slide {
  font-size: 18px;
  /* background: #DFD3EB; */
  display: flex !important;
  justify-content: space-evenly;
  align-items: center;
  width: 100% !important;
  height: 100% !important;
}

.recent-checked swiper-slide img {
  width: 100% !important;
  height: 50% !important;
  object-fit: cover;
}

.recent-checked .card-text {
  width: 200px;
}

/* About */
.about-checked .mySwiper {
  width: 80%;
  height: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-checked swiper-slide {
  font-size: 18px;
  /* background: #DFD3EB; */
  display: flex !important;
  justify-content: space-evenly;
  align-items: center;
  width: 100% !important;
  height: 100% !important;
}

.about-checked swiper-slide img {
  width: 100% !important;
  height: 50% !important;
  object-fit: cover;
}

.about-checked .card-text {
  width: 200px;
}