@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.nav {
  width: 60%;
}

.logo {
  width: 20%;
  justify-content: flex-start;
}

.feedback-container form,
.report-container form {
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid white;
  box-shadow: 0 0 2px 2px white;
}


header {
  background: #FFFFFF;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  padding: 0 20px;
  height: 80px;
  position: absolute;
  top: 0;
  width: 100vw;
  font-size: 14px;
}

.contact {
  background: linear-gradient(225deg, #A68AC8 0%, #57007B 100%);
  padding: 5px 10px;
  border-radius: 5px;
  color: white !important;
}

.feedback-container input:focus-visible,
.report-container input:focus-visible,
.feedback-container textarea:focus-visible,
.report-container textarea:focus-visible {
  outline: 0;
}

.feedback-container textarea,
.report-container textarea {
  resize: none !important;
  padding: 10px;
}

.contact a {
  color: white !important;
}

a {
  text-decoration: none !important;
}

ul a {
  color: black !important;
}

::-webkit-scrollbar {
  width: 10px;
  background: linear-gradient(225deg, #A68AC8 0%, #57007B 100%);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #FFFFFF;
  border-radius: 5px;
}

.hero {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-self: center;
}

.surf {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-self: center;
}

.about,
.recent {
  width: 100vw;
}

.hero-div,
.shape-div {
  width: 40%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.surf-div {
  width: 40%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.surf form button {
  background-color: #57007B;
  color: white;
  border-radius: 10px;
}

.surf form input {
  border: 1px solid grey;
}

.surf form input:focus-visible {
  outline: 0;
  border: 2px solid #57007B;
}

.surf form {
  padding: 10px;
  margin: 10px;
}

.hero-button {
  display: flex;
  width: 50% !important;
  background: #7F59B0;
  color: white;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.services {
  background: #DFD3EB;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
}

.report-btn {
  background-color: #57007B;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  width: 200px;
  margin: 0 auto;
}

.card-body {
  width: 80%;
}

.menubtn {
  display: none;
}

.card {
  margin: 0 10px !important;
  width: 30% !important;
  height: 75% !important;
  padding: 10px;
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 20px;
}

.shape img {
  width: 45% !important;
}

.feedback-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.feedback-div {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
}

.feedback-div>form>button,
.report-div>form>button {
  background-color: #57007B;
  padding: 5px 10px;
  border-radius: 10px;
  color: white;
  width: 150px;
}


@media screen and (max-width: 400px) {
  .surf .ReactModal__Content {
    width: 100% !important;
  }

  .report-div form {
    width: 100% !important;
  }

  .surf .ReactModal__Content button {
    color: black !important;
  }

}

@media screen and (max-width: 450px) {
  .surf .ReactModal__Content {
    width: 100% !important;
  }
}

@media screen and (min-width: 450px) {
  .surf .ReactModal__Content {
    width: 90% !important;
    max-width: 600px !important;
  }

  .report-div form {
    width: 90% !important;
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .menubtn {
    display: block;
  }

  .recent-checked button {
    display: none !important;
  }

  header {
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    align-content: space-between;
    justify-content: center !important;
    position: fixed;
    top: 0;
  }

  header>ul {
    display: none !important;
  }

  header>ul.open {
    position: fixed;
    display: flex !important;
    justify-content: flex-start !important;
    width: 100vw !important;
    height: 100vh;
    top: 80px;
    flex-direction: column;
    background-color: white;
  }

  header>ul>li {
    font-size: 18px;
    margin: 10px 0;
    padding: 5px;
  }
}

@media screen and (max-width: 800px) {
  .shape img {
    width: 90% !important;
  }

  html {
    font-size: 16px !important;
  }

  .hero,
  .shape {
    width: 90vw !important;
    margin: 0 auto;
  }

  main {
    margin-top: 100px;
  }

  section {
    height: auto !important;
  }

  .surf {
    flex-direction: column;
  }

  .hero,
  .shape {
    flex-direction: column-reverse;
  }

  .surf-div,
  .hero-div,
  .shape-div {
    width: 90%;
    margin: 0 auto;
  }

  .card {
    width: 90% !important;
    margin: 0 auto;
  }
}

@media screen and (max-width: 850px) {

  .second-layer,
  .third-layer {
    flex-wrap: wrap;
  }

  .feedback-div form,
  .feedback-div>div {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1000px) {
  .surf .ReactModal__Content {
    width: 75%;
  }

  .report-div img {
    display: none !important;
  }

}

@media screen and (max-width: 1250px) {

  .second-layer,
  .third-layer {
    flex-wrap: wrap;
  }
}

/*404*/
.empty-icon-container {
  margin: 1em auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Dosis', sans-serif;

}

.animation-container {
  position: relative;
  display: block;
  text-align: center;
  height: 100px;
  width: 100px;
  border-bottom: solid 2px #333;
  overflow: hidden;
}

.bounce {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  background-size: contain;
  animation: bounceAnim 1s cubic-bezier(.63, .09, .75, .46) infinite alternate,
    spinAnim 3s linear infinite;
}

@keyframes bounceAnim {

  0%,
  10% {
    bottom: 50%;
  }

  100% {
    bottom: 0%;
  }
}

@keyframes spinAnim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.pebble1 {
  position: absolute;
  top: 95%;
  background-color: #333;
  width: 10px;
  height: 10px;
  border-radius: 20px 20px 0px 0px;
  animation: pebblesAnim 1s linear infinite;
}

.pebble2 {
  position: absolute;
  top: 97%;
  background-color: #333;
  width: 5px;
  height: 5px;
  border-radius: 10px 10px 0px 0px;
  animation: pebblesAnim 2s linear infinite;
}

.pebble3 {
  position: absolute;
  top: 98%;
  background-color: #333;
  width: 3px;
  height: 3px;
  border-radius: 20px 20px 0px 0px;
  animation: pebblesAnim 3s linear infinite;
}

@keyframes pebblesAnim {
  0% {
    right: -20%;
  }

  100% {
    right: 110%;
  }
}